body {
  background-color: #aaf0d1;
  display: flex;
  justify-content: center;
  color: #d1aaf0;
  font-family: sans-serif;
}

.section {
  background-color: #f0d1aa;
  display: flex;
  justify-content: center;
  color: #f0aeaa;
  border-radius: 15px;
}